<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="com.thegreatgooo.eclipse.prettier.css.Startup">
      </startup>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.thegreatgooo.eclipse.prettier.css.preferences.PrettierFormatterPreferencePage"
            id="com.thegreatgooo.eclipse.prettier.css.preferences.PrettierFormatterPreferencePage"
            name="Prettier CSS Formatter">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
         <initializer class="com.thegreatgooo.eclipse.prettier.css.preferences.PreferenceInitializer">
         </initializer>
   </extension>

</plugin>
